<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<title>Insert title here</title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
	</head>
	<body>

		<div id="wrapper">
			<div id="header">
				<h2>Sporty shoes</h2>
			</div>
		    
		   <br>
		   <br>
		   <br>
		   <br>
	       <a href="/login">Click here to login as admin</a>
	       <br>
	       <br>
	       <a href="/productList">Click here to buy shoes</a>
       </div>  
   </body>
</html>