<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Welcome to Ramesh Shoes store</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
<div id="wrapper">
	<div id="header">
		<h2>
			Sporty shoes
			<span class="logout"><a href="/logout">Logout</a></span>
		</h2>
	</div>
	
	<div id="clickLink">
		
		<th:block sec:authorize="hasAnyRole('ROLE_ADMIN')">
			<a href="/admin/addproduct">Add Product</a>	
			| <a href="/admin/list">View Product list</a>	
			| <a href="/admin/passwordForm">Update Password</a>		
			| <a href="/admin/userList">View Users</a>	
			| <a href="/admin/purchaseReport">Purchase report</a>
		</th:block>
			
		
	</div>
</div>
</body>
</html>