<html xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Form</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/add-customer-style.css}" />
</head>
<body>
<th:block th:include="/headerfooter/_header"></th:block>
<br>

<div id ="container">
	<h3>Update password</h3>
	<p/>	
		<form action="#" th:action="@{/admin/updatePassword}" method="POST">

<table>
	<tbody>		
		<tr>
			<td><label>Enter user name</label></td>
			<td><input type="text" name="userName" required></td>
		</tr>
		<tr>
			<td><label>Enter new password</label></td>						
			<td><input type="text" name="userPassword" required></td>
		</tr>
		<tr>
			<td><label></label></td>
			<td><input type="submit" value="Save" class="add-button"/></td>
		</tr>
	</tbody>
	</table>
</form>

</div>
</body>
</html>